{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/segmentate', 'segmentate', 'Segmentation'),
] -%}

<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} - WEB Pancreas Segmentation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="static/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


        <script src="static/jquery-3.3.1.min.js"></script>
        <script src="static/jquery-ui.min.js"></script>
        <link href='static/css/jquery-ui.css' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="static/jquery.lineProgressbar.css" />
        <script src="static/jquery.lineProgressbar.js"></script>

        <script type="text/javascript" src="static/openseadragon.js"></script>
        <script type="text/javascript" src="static/openseadragon-scalebar.js"></script>
        <!-- <script src="static/openseadragon-svg-overlay.js"></script> -->
        <!-- <script src="static/openseadragon-annotations.js"></script> -->

        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
        <script src="static/Chart.min.js"></script>
        <script src="static/chartjs-plugin-datalabels.js"></script>

        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 100px;') }}
        {{ dropzone.load_js() }}
        

        <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">WEB Pancreas Segmentation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                {% set active_page = active_page|default('index') -%}
                <ul class="navbar-nav mr-auto">
                    {% for href, id, caption in navigation_bar %}
                        {% if id == active_page %}
                            <li class="nav-item active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
                            </li>
                    {% endfor %}

                </ul>

                <span style="color: rgba(255,255,255,.75)">{{SLIDE_FILE_NAME}}</span>
            </div>
        </nav>
        <br />
        <br />
        <br />

        <section class="content">
            <!-- <header>
                {% block header %}{% endblock %}
            </header> -->

            {% block content %}{% endblock %}
        </section>

        <footer class="footer">
                
                This project is a part of my diploma thesis <br>
                <strong>"Automated Detection and Quantitation of Langerhans Islets in Pancreatic Tissue"</strong>
                     <br> 
                created at FEL CTU in Prague | Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                Jan Horák
        </footer><!-- .footer -->

    </body>
    
</html>