{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>

{% endblock %}

{% block content %}

<div id="wrapper">
        <div class="container">

            <div class="alert" role="alert">
                    <!-- <div class="alert bg-light text-dark" role="alert"> -->
                    <h3>Pancreatic Tissue Segmentation and Langerhans Islets Detection Web Application</h3>
                    <hr>
                    <p>
                            This web application provides a user-friendly platform for segmentating histological scans of pancreatic tissue 
                            using state-of-the-art methods and visualising the results easily.
                            The web-app is a part of my Diploma thesis, where I research the most suitable methods
                            for medical scans segmentation, prepare annotated data and create a preprocessing and training 
                            pipleine to automatically segment new scans and enable to visualize them easily in the web application.
                            
                    </p>
                    <hr>
                    <p>
                    You can either choose to view image scan with overlay, in the left panel, or upload your
                    own scan and segmentate it using pretrained UNet neural network, by drag-and-dropping your file(s) into right panel.

                    <div class="row">
                        <div class="col-7 border-right">
                            <h5>Segmentated scans</h5>
                            <ul>
                                {% for entry in root_dir.children recursive %}
                                    <li>
                                        {% if entry.url_path %}
                                            <a href="{{ url_for('slide', path=entry.url_path) }}">
                                                {{ entry.name }}
                                            </a>
                                        {% else %}
                                            {{ entry.name }}
                                        {% endif %}
        
                                        {% if entry.has_overlay %}
                                             (with overlay <i class="fa fa-check-circle" style="color:green;" aria-hidden="true"></i>)
                                        {% else %}
                                             (without overlay <i class="fa fa-times-circle" style="color:red;" aria-hidden="true"></i>)
                                        {% endif %}
                            
                                        {% if entry.children %}
                                            <ul>
                                                {{ loop(entry.children) }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="none">None</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Upload new scan</h5>
                            {{ dropzone.create(action='upload') }}
                            {{ dropzone.config() }}
                        </div>
                      </div>
                    </p>
                  
                </div>

        </div>
    </div>

{% endblock %}