{% extends 'base.html' %}
{% set active_page = "segmentate" %}

{% block header %}
    <h1>{% block title %}Segmentate{% endblock %}</h1>

  
{% endblock %}

{% block content %}

    <div class="container">

        {% if not segmentation_finished %}
            <div class="alert bg-dark text-light" style="background-color:#656565 !important;" role="alert">
                <!-- <div class="alert bg-light text-dark" role="alert"> -->
                <p class="alert-heading">
                    <h4>Segmentate scans using pre-trained model</h4>
                </p>
                <hr>
                <p>
                    <b>Scans without segmentation:</b>
                    {{ root_dir.children | selectattr("has_overlay", "equalto", False) | list | count  }}
                    <br>
                    {% if root_dir.children | selectattr("has_overlay", "equalto", False) | list | count > 0 %}
                    <ul>
                        {% for entry in root_dir.children recursive %}
                            {% if entry.url_path %}
                                {% if not entry.has_overlay %}
                                <li>
                                    <label for="id_{{entry.name}}">{{entry.name}}</label>
                                    <input type="checkbox" id="id_{{entry.name}}" name="scans"
                                    value="{{entry.name}}" form="trainform">
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    There are no scans without segmentation. Please upload some first from <a href="/" class="alert-link">home page</a>.
                    {% endif %}

                    
                </p>

            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <!-- <div class="alert bg-light text-dark" role="alert"> -->
                <p class="alert-heading">
                    <h4>Scan segmentated successfully!</h4>
                </p>
                <hr>
                <p>
                    <b>You can now access your segmentated scans from <a href="/" class="alert-link">home page</a>.</b>
                </p>

            </div>

        {% endif %}
        
        <form id="trainform" method="POST" action="/segmentate">
            <div class="form-group">
                {% if not segmentation_finished %}
                    {% if root_dir.children | selectattr("has_overlay", "equalto", False) | list | count > 0 %}
                    <button id="train-btn" type="submit" class="btn btn-warning"><i class="fa fa-cog"></i> Segmentate scans</button>
                    {% else %}
                    <button id="train-btn" disabled type="submit" class="btn btn-warning"><i class="fa fa-cog"></i> Segmentate scans</button>
                    {% endif %}
                {% else %}

                <button id="train-btn" disabled type="submit" class="btn btn-warning"><i class="fa fa-cog"></i> Segmentate scans</button>
                {% endif %}

                
            </div>
        </form>

        <div id="progressbar1"></div>

        <div id="logdiv" style="height: 120px; width: 100%; padding: 10px; border: 1px solid gray; font-family: monospace;">
            Log output will be shown here during segmentation...
        </div>

        <script>
            {% if segmentation_finished %}
            $('#progressbar1').LineProgressbar({
                "percentage": 100,
                "duration": "slow",
                "fillBackgroundColor": "#ee0000",
                "animation": false
            }); 
            {% else %}
            $('#progressbar1').LineProgressbar({
                "percentage": 0,
                "duration": "slow",
                "fillBackgroundColor": "#ee0000"
            }); 
            {% endif %}

            var interval;
            $('#trainform').submit(function() {
                $("#train-btn").attr("disabled", true);
                $('#progressbar1').LineProgressbar({
                    "percentage": 1,
                    "duration": "slow",
                    "fillBackgroundColor": "#ee0000"
                }); 
                interval = setInterval(update_progress, 1000);
            });
            
            function update_progress() {
                $.get('/progress').done(function(data){
                    n = data.percentage;
                    
                    $('#logdiv').text(data.msg);

                    if (n < 1) {
                        n = 1;
                    }
                    console.log(n);
                    if (n >= 100) {
                        clearInterval(interval);
                        //callback(); // user defined
                    }
                    $('#progressbar1').LineProgressbar({
                        "percentage": n,
                        "duration": "slow",
                        "fillBackgroundColor": "#ee0000"
                    }); 
                })
            }
        </script>
    </div>

{% endblock %}