{% extends 'base.html' %}
{% set active_page = "home" %}

{% block header %}
    <h1>{% block title %}Viewer{% endblock %}</h1>

{% endblock %}

{% block content %}

<style>
    body {
        background-color: #282828;
    }
    html {
        overflow: hidden;
    }

</style>

<div id="wrapper">
		<div id="main">
            <div id="view"></div>
        </div>
            
		<div id="sidebar-right">

            <!-- <h1>Slide properties</h1>
            <div id="properties-inner">
                <dl>
                {% for name in properties %}
                    <dt>{{ name }}
                    <dd>{{ properties[name] }}
                {% endfor %}
                </dl>
            </div> -->
            
            <table class='slider-table' style="width:100%; ">

                <colgroup>
                    <col span="1" style="width: 40px;">
                    <col span="1" style="width: 120px;">
                    <col span="1">
                 </colgroup>

                <tr>
                    <th>Layer</th>
                    <th></th>
                    <th>Opacity</th>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #ffffff;"></div>
                    </td>
                    <td>Other</td>
                    <td><div id="slider1" class="slider"></div></td>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #7fd2a8;"></div>
                    </td>
                    <td>Acinar</td>
                    <td><div id="slider2" class="slider"></div></td>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #1a1a1a;"></div>
                    </td>
                    <td>Tissue</td>
                    <td><div id="slider3" class="slider"></div></td>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #f8ac94;"></div>
                    </td>
                    <td>Ducts</td>
                    <td><div id="slider4" class="slider"></div></td>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #918f8f;"></div>
                    </td>
                    <td>Vessels</td>
                    <td><div id="slider5" class="slider"></div></td>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #fff77c;"></div>
                    </td>
                    <td>Fat</td>
                    <td><div id="slider6" class="slider"></div></td>
                </tr>
                <tr>
                    <td width="10" >
                        <div class="color" style="background-color: #f57fc6;"></div>
                    </td>
                    <td>Islets</td>
                    <td><div id="slider7" class="slider"></div></td>
                </tr>
            </table>

            <button id="btn-hide-all" type="button" class="btn btn-secondary btn-sm">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                Hide All
            </button>
            <button id="btn-islets" type="button" class="btn btn-primary btn-sm">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Islets
            </button>
            <button id="btn-show-all" type="button" class="btn btn-primary btn-sm">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Show All
            </button>
            
            <hr>

            Layer area distribution
            <canvas id="myChart" width="270" height="270" ></canvas>
            
        </div>

    <script type="text/javascript">

        var options = {
            responsive: false,
            maintainAspectRatio: true,
            tooltips: {
                enabled: true,
                callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                    var meta = dataset._meta[Object.keys(dataset._meta)[0]];
                    var total = meta.total;
                    var currentValue = dataset.data[tooltipItem.index];
                    var percentage = parseFloat((currentValue/total*100).toFixed(1));
                    return currentValue + ' (' + percentage + '%)';
                },
                title: function(tooltipItem, data) {
                    return data.labels[tooltipItem[0].index];
                }
                }
            },
            plugins: {
                datalabels: {
                formatter: (value, ctx) => {
                    let sum = ctx.dataset._meta[0].total;
                    let percentage = (value * 100 / sum).toFixed(1) + "%";
                    return percentage;
                },
                color: '#333',
                }
            }
        };

        var counts = {{ areas|tojson }};
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ['Acinar', 'Other', 'Tissue', 'Ducts', 'Vessels', 'Fat', 'Islets'],
                datasets: [{
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderWidth: 0,
                    data: counts,
                    backgroundColor: ['#7fd2a8', '#ffffff', '#1a1a1a', '#f8ac94', '#918f8f', '#fff77c', '#f57fc6'] ,
                    hiddenSlices: [1, 3],
                    
                }],
                // 
                
            },
            options: options,
                
        });
        chart.getDatasetMeta(0).data[1].hidden = true;
        chart.getDatasetMeta(0).data[3].hidden = true;
        chart.update()
        
        $("#btn-show-all").click(function() {

            $(".slider").slider('value', 100);

            for (i = 1; i <= 7; i++) {
                viewer.world.getItemAt(i).setOpacity(1.0);
            }
        });
        $("#btn-hide-all").click(function() {

            $(".slider").slider('value', 0);

            for (i = 1; i <= 7; i++) {
                viewer.world.getItemAt(i).setOpacity(0.0);
            }
        });
        $("#btn-islets").click(function() {
            $("#slider1").slider('value', 100); viewer.world.getItemAt(1).setOpacity(1.0);
            $("#slider2").slider('value', 50); viewer.world.getItemAt(2).setOpacity(0.5);
            $("#slider3").slider('value', 75); viewer.world.getItemAt(3).setOpacity(0.75);
            $("#slider4").slider('value', 100); viewer.world.getItemAt(4).setOpacity(1.0);
            $("#slider5").slider('value', 100); viewer.world.getItemAt(5).setOpacity(1.0);
            $("#slider6").slider('value', 100); viewer.world.getItemAt(6).setOpacity(1.0);
            $("#slider7").slider('value', 0); viewer.world.getItemAt(7).setOpacity(0.0);
            
        });


        $("#slider1").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(1).setOpacity(ui.value / 100);
            }
        });
        $("#slider2").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(2).setOpacity(ui.value / 100);
            }
        });
        $("#slider3").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(3).setOpacity(ui.value / 100);
            }
        });
        $("#slider4").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(4).setOpacity(ui.value / 100);
            }
        });
        $("#slider5").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(5).setOpacity(ui.value / 100);
            }
        });
        $("#slider6").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(6).setOpacity(ui.value / 100);
            }
        });
        $("#slider7").slider({
            min: 0, max: 100,
            slide: function(event, ui) {
                viewer.world.getItemAt(7).setOpacity(ui.value / 100);
            }
        });
        
        $(document).ready(function() {
            var dzi_data = {{ dzi_data|default('{}')|safe }};
            viewer = new OpenSeadragon({
                id: "view",
                prefixUrl: "static/images/",
                timeout: 120000,
                animationTime: 0.3,
                blendTime: 0.1,
                constrainDuringPan: true,
                maxZoomPixelRatio: 2,
                minZoomLevel: 1,
                visibilityRatio: 1,
                zoomPerScroll: 2,
                
            });
            viewer.addHandler("open", function() {
                // To improve load times, ignore the lowest-resolution Deep Zoom
                // levels.  This is a hack: we can't configure the minLevel via
                // OpenSeadragon configuration options when the viewer is created
                // from DZI XML.
                viewer.source.minLevel = 8;
            });
            viewer.scalebar({
                xOffset: 10,
                yOffset: 10,
                barThickness: 3,
                color: '#555555',
                fontColor: '#333333',
                backgroundColor: 'rgba(255, 255, 255, 0.5)',
            });
        
            function open_slide(url, mpp) {
                var tile_source;
                if (dzi_data[url]) {
                    // DZI XML provided as template argument (deepzoom_tile.py)
                    tile_source = new OpenSeadragon.DziTileSource(
                            OpenSeadragon.DziTileSource.prototype.configure(
                            OpenSeadragon.parseXml(dzi_data[url]), url));
                } else {
                    // DZI XML fetched from server (deepzoom_server.py)
                    tile_source = url;
                }
            
                viewer.open(tile_source);
                viewer.scalebar({
                    pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
                });
                
            }
        
            open_slide("{{ slide_url }}", parseFloat('{{ slide_mpp }}'));
            $(".load-slide").click(function(ev) {
                $(".current-slide").removeClass("current-slide");
                $(this).parent().addClass("current-slide");
                open_slide($(this).attr('data-url'),
                        parseFloat($(this).attr('data-mpp')));
                ev.preventDefault();
            });


            $("#slider1").slider('value', 100);
            $("#slider2").slider('value', 50); 
            $("#slider3").slider('value', 75); 
            $("#slider4").slider('value', 100);
            $("#slider5").slider('value', 100); 
            $("#slider6").slider('value', 100);
            $("#slider7").slider('value', 0);

            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_other.png',
                    buildPyramid: false
                },
                opacity: 1.0
            });
            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_acinar.png',
                    buildPyramid: false
                },
                opacity: 0.5
            });
            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_tissue.png',
                    buildPyramid: false
                },
                opacity: 0.75
            });
            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_ducts.png',
                    buildPyramid: false
                },
                opacity: 1.0
            });
            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_vessels.png',
                    buildPyramid: false
                },
                opacity: 1.0
            });
            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_fat.png',
                    buildPyramid: false
                },
                opacity: 1.0
            });
            viewer.addTiledImage({
                tileSource: {
                    type: 'image',
                    url:  'static/overlays/{{SLIDE_FILE_NAME}}/mask_islets.png',
                    buildPyramid: false
                },
                opacity: 0.0
            });
        
        });
        </script>

{% endblock %}