html {
    overflow: auto;
}

h1 {
    font-size: 1.2em;
}
.notice {
    font-style: italic;
}

div#images {
    width: 15%;
    float: left;
}
div#images h2 {
    font-size: 1em;
    margin: 0;
}
.associated-images {
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
div#images li {
    list-style-type: none;
}

div#view {
    width: 100%;
    height: 650px;
    background-color: #282828;
    color: white;
}

div#view.fullpage {
    left: 0%;
    border: 0;
}

html{
    position: relative; /* Allows the footer to notice content height */
    min-height: 100vh;  /* My page will always take the full screen */
  }


#btn-islets, #btn-islets:hover, #btn-islets:active, #btn-islets:visited {
    background-color: #f57fc6 !important;
    border-color: #f57fc6 !important

}

.slider-table tr { line-height: 12px; }

.content {
    margin-bottom: 100px;
}
.wrapper {
    width: 1000px;
    margin-bottom: 100px;
}

#main{
    float:left;
    width:75%;
    background-color: rgb(124, 124, 124);
    
}

#sidebar-right{
    padding: 10px;
    color: rgba(255,255,255,.75);
    float:left;
    width:25%;
    /* width: 300px; */
    background-color: #2d3238;
    /* background-color: rgb(80, 80, 80); */
}

nav.navbar {
    background: #2d3238 !important;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {

    position: absolute; /* I don't care about other things */
  bottom: 0; /* I want to be on the bottom... */
  left: 0;   /* ...and to the left */

    padding: 5px;
    margin-top: 10px;
    height: 90px;
    background: #2d3238;
    text-align: center;
    /* display:table; */
    width:100%;

    display:table-cell;
    vertical-align:middle;
    font-size: 10pt;
    color: rgba(255,255,255,.5);
}

.footer strong {
    /*color: #919191;*/
    color: rgba(255,255,255,.5);
}

#sidebar-left, #main, #sidebar-right{
    min-height: 650px				
}


.color {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    margin: 10px;
}

.slider {
    width: 60%;
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    /* margin: 20px auto; */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0;
    height: 2px;
    background: #959799;
    outline: none;
  }
  
  .slider .ui-slider-handle {
    position: absolute;
    margin: 0px 0 0 -6px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    border: 0;
    height: 12px;
    width: 12px;
    outline: none;
    cursor: pointer;
  }
  
  .slider .ui-slider-handle:hover,
  .slider .ui-slider-handle:focus {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .slider .ui-slider-range { background: #007aff !important;}
  /* .slider .ui-widget-header{background-image:none;background-color:#887e6d;} */
  .slider #currentVal {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    color: #b8b8b8;
    width: 160px;
    text-align: center;
    margin-top: -40px;
  }

  .btn {
      margin: 5px;
  }